/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
 /* Fonts */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

html {
  background: url(https://upload.wikimedia.org/wikipedia/commons/0/05/DNA_Helix_CPK.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  color: #fff;
}

p {
  font-size: 1.3em;
}

.submitted {
  color: #fff;
}

#block-block-2 {
  color: #fff;
  text-align: center;
}

.field-item {
  text-align: center;
}

.field-item, .form-item {
padding: 1%;
margin: 10px;
background-color: #fff;
opacity:0.6;
filter:alpha(opacity=60);
border-radius: 5px;
color: #000;
}

a {
  color: #fff;
  text-decoration: none;
}

.active {
  color: #fff;
  text-decoration: none;
}

input {
  border-radius: 4px;
  background-color: #AA0906;
}

#edit-name {
  background-color: #AA0906;
}

.nav {
  background-color: #AA0906;
  width: 100%;
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
}

.menu-219 {
  margin-left: 40px;
}

#main {
  padding-top: 100px;
}

#main-menu {
  float:right;
  padding-top: 20px;
  font-size: 30px;
  text-decoration: none;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  float: right;
}
.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #12355B;
  text-decoration: none;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

   Options 2 - Float
  .nav li {
    float: right:
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
    float: right:
  }


}
